main{
    grid-area: main;
    margin-left: 10%;
}
#tileset{
    position: absolute; 
    left: 300px; 
}
#personaje{
    position: absolute; 
    top: 90px; 
    left: 360px
}
#hud img{
    position: absolute;
    top: 20px;
    left: 0;
    width: 300px;
}
#destruido{
    display: none;
}
.explicacion{
    grid-area: reglas;
    text-align: center;
    margin-top: 100px;
}
.pad{
    grid-area: pad;
    margin-left: 30%;
    margin-top: 150px
}
a{
    padding-bottom: 15px;
}
body{
    display: grid;
    grid-template-areas: 
    "main reglas"
    "main pad";
    grid-template-columns: 66% 30%;
    grid-template-rows: 300px
}
#puntos{
    position: absolute;
    top: 410px;
}
#mejorar{
    position: absolute;
    top: 450px;
    left: 55px;
}
#f5{
    position: absolute;
    top: 470px;
    width: 60px;
}
#recargar{
    position: absolute;
    top: 490px;
    left: 45px;
}
.img{
    width: 60px;
}
.imgFondo{
    width: 549px;
}
button{
    border-radius: 5px;
    background-color: gainsboro;
}
.div1{
    margin-left: 50px;
    margin-bottom: 4px;
}
.div3{
    margin-left: 50px;
    margin-top: 4px;
}
body{
    background-color: grey;
}
figure{
    display: flex;
    padding-left: 60px;
    align-items: center;
    font-size: 20px;
}
figure .sprite{
    padding-right: 10px;
    width: 60px;
}
figure .hp{
    width: 25px;
}
figure .at{
    width: 25px;
    padding: 10px;
}
figure p{
    padding-right: 10px;
}